*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #FFFFFF;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

main {
  padding: 0 16px;
  width: 375px;
  margin: auto;
}

.profile-image {
  width: 88px;
  height: 88px;
  border-radius: 275px;
  margin: 64px auto 24px;
}

.profile-image:hover {
  background: rgba(0, 0, 0, 0.7) url(../src/assets/camera.svg);
  opacity: 0.5;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 56px;
}

h4 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

textarea {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

button {
  display: block;
  background: #1570EF;
  color: #FFFFFF;
  text-align: center;
  padding: 24px 32px;
  width: 100%;
  height: 68px;
  margin: 24px auto;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

footer {
  padding: 32px 16px;
}

.dot-icon {
  height: 20px;
  width: 20px;
  margin: 0;
  position: absolute;
  right: 10%;
  top: 10%;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  cursor: pointer;
}

.right-icon {
  display: none;
}

.dot-icon:hover, .right-icon:hover {
  background: #F9FAFB;
}

.dot-icon:active, .right-icon:active {
  border: 1px dashed #D0D5DD;
  box-shadow: 0px 0px 0px 4px #F2F4F7;
}

.profile-section {
  width: 343px;
}

.unseen {
  display: none;
}

.center {
  text-align: center;
}

.link-section {
  width: 343px;
}

.btn {
  display: block;
  background: #EAECF0;
  color: #101828;
  text-align: center;
  padding: 24px 32px;
  width: 100%;
  height: 68px;
  margin: 24px auto;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

.btn:hover {
  background-color: #D0D5DD;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.btn:active {
  background: #EAECF0;
  border: 1px solid #98A2B3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
}

.social-section {
  width: 375px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin: 24px auto 64px;
  padding: 24px 0;
}

.icon {
  height: 24px;
  width: 24px;
  margin: 0;
}

.container {
  margin: 64px auto 0;
}

.agreement {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 6px;
  margin: 24px auto;
  width: 100%;
}

.grouped-input {
  display: flex;
  flex-flow: column;
}

.footer-content {
  display: flex;
  flex-flow: column;
  border-top: 1px solid #EAECF0;
  padding: 32px 0;
  width: 343px;
  gap: 16px;
}

.zuri-internship {
  height: 18px;
  width: 138px;
  border-radius: 0;
  margin: 0;
}

.i4g {
  height: 24px;
  width: 99px;
  border-radius: 0;
  margin: 0;
}


/* for screen size larger than mobile */
@media (min-width: 768px) {
  main {
    padding: 12px 40px;
    width: 1440px;
    margin: auto;
  }

  .dot-icon {
    display: none;
  }

  .right-icon {
    display: block;
    height: 20px;
    width: 20px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    right: 25%;
    top: 10%;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
  }

  .profile-section {
    width: 1152px;
    margin: 0 auto;
  }

  .link-section {
    width: 1152px;
    margin: 0 auto;
  }

  .btn {
    display: block;
    background: #EAECF0;
    color: #101828;
    text-align: center;
    padding: 24px 32px;
    width: 1152px;
    height: 76px;
    margin: 24px auto;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
  }

  .social-section {
    width: 1440px;
  }

  .container {
    width: 720px;
    margin: 156px auto 188px;
  }

  .grouped-input {
    display: flex;
    flex-flow: row;
    gap: 24px;
  }

  .footer-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-end;
    padding: 32px 32px 0;
    width: 1216px;
    height: 64px;
    gap: 32px;
    margin: auto;
  }
}